/* Created by: Shyla Oommen
* Created on: May 2023
* This CSS file defines the style for index.html
* ICS2O-Programming-Unit5-01-PHP-NumberDisplay -->
*/

body {
  background-color: #96c9dc;
}

h1, h3 {
  background-color: #f9b9b7;
  text-align: center;
  border: 2px solid #f7d488;
  color: black;
  font-weight: bold;
  padding-left: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

p, form{
  background-color: #f9b9b7;
  border: 2px solid #f7d488;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  font-weight: bold;
  color: black;
  font-size: 115%;
}

#results {
  background-color: #f9b9b7;
  border: 2px solid #f7d488;
  text-align: center;
  margin-left: 100px;
  margin-right: 200px;
  padding-left: 20px;
  font-weight: bold;
  color: black;
  font-size: 115%;
}

img {
  float: right;
  border: 5px solid #555;
}